<div class="row-md-1">
  <%= link_to "About", new_user_session_path %>
</div>
<div class="row-md-1">
  <%= link_to "Contact", new_user_session_path %>
</div>
<div class="row-md-1">
  <%= link_to "Report Issues", new_user_session_path %>
</div>
<div class="row-md-1">
  <%= link_to "Jobs", new_user_session_path %>
</div>
<div class="row-md-1">
  <%= link_to "Site Information", new_user_session_path %>
</div>
<div class="row-md-1">
  <%= link_to "Meet the Developers", new_user_session_path %>
</div>
<div class="row-md-6">
</div>
