<div class="row-md-1">
  <%= link_to "Tickets", new_user_session_path %>
</div>
<div class="row-md-1">
  <%= link_to "Electronics", new_user_session_path %>
</div>
<div class="row-md-1">
  <%= link_to "Clothing", new_user_session_path %>
</div>
<div class="row-md-1">
  <%= link_to "Furniture", new_user_session_path %>
</div>
<div class="row-md-1">
  <%= link_to "Textbooks", new_user_session_path %>
</div>
<div class="row-md-1">
  <%= link_to "Household items", new_user_session_path %>
</div>
<div class="row-md-1">
  <%= link_to "Popular", new_user_session_path %>
</div>
<div class="row-md-1">
  <%= link_to "Staples", new_user_session_path %>
</div>
<div class="row-md-1">
  <%= link_to "Seasonal", new_user_session_path %>
</div>
<div class="row-md-1">
  <%= link_to "Miscellaneous", new_user_session_path %>
</div>
<div class="row-md-1">
  <%= link_to "All Items", new_user_session_path %>
</div>
<div class="row-md-1">
  <%= link_to "Surprise Me", new_user_session_path %>
</div>

