<div class="row-md-1">
		<%= link_to "http://www.twitter.com", :target => "_blank" do %>
			<i class="fa fa-twitter fa-1x"> Twitter</i>
		<% end %>
</div>
<div class="row-md-1">
		<%= link_to "http://www.facebook.com", :target => "_blank" do %>
			<i class="fa fa-facebook fa-1x"> Facebook</i>
		<% end %>
</div>
<div class="row-md-1">
		<%= link_to "http://www.linkedin.com", :target => "_blank" do %>
			<i class="fa fa-linkedin-square fa-1x"> LinkedIn</i>
		<% end %>
</div>
<div class="row-md-1">
		<%= link_to "http://www.plus.google.com", :target => "_blank" do %>
			<i class="fa fa-google-plus-square fa-1x"> Google+</i>
		<% end %>
</div>
<div class="row-md-1 row-md-offset-7">
		<%= link_to "http://www.pinterest.com", :target => "_blank" do %>
			<i class="fa fa-pinterest-square fa-1x"> Pinterest</i>
		<% end %>
</div>