<div class="container-fluid">
	<div class="row">
<!-- 		<div class="box odd_box"> 
			<%= render('welcome/main_content/popular_items') %> 
		</div>

		<div class="box even_box">
			<%= render('welcome/main_content/new_items') %>
		</div>

		<div class="box odd_box">
			<%= render('welcome/main_content/staples') %>
		</div>

		<div class="box even_box">
			<%= render('welcome/main_content/seasonal_items') %>
		</div>

		<div class="box odd_box">
			<%= render('welcome/main_content/miscellaneous_items') %>
		</div> -->

		<div class="box even_box">
			<%= render('welcome/main_content/free_items') %>
		</div>
  </div>
</div>