<div class="container-fluid">
	<div class="row">
		<div class="box"> 
			<%= render('popular_items') %> 
		</div>

		<div class="box">
			<%= render('new_items') %>
		</div>

		<div class="box">
			<%= render('staples') %>
		</div>

		<div class="box">
			<%= render('seasonal_items') %>
		</div>

		<div class="box">
			<%= render('miscellaneous_items') %>
		</div>

		<div class="box">
			<%= render('free_items') %>
		</div>
  </div>
</div>