Footer.
<!-- Three columns. -->
<div class=".col-md-3"> 
	<%= link_to "#", :target => "_blank" do %>
		<i class="fa fa-bars fa-2x"></i>
  <% end %>   

	<%= link_to "#", :target => "_blank" do %>
  	<i class="fa fa-facebook fa-lg"></i>
  <% end %>

  <%= link_to "#", :target => "_blank" do %>
  	<i class="fa fa-twitter fa-lg"></i>
  <% end %>
</div>

<div class=".col-md-6 text-center">
	Bazaar logo
</div>

<div class=".col-md-3 text-right">
	<%= link_to "#" do %>
		LOGIN/SIGNUP
  <% end %>
  
	<%= link_to "#" do %>
		<i class="fa fa-shopping-cart fa-2x"></i>
  <% end %>
</div>
