<div class="container-fluid row">
	<div class="static-header">
		<div class="container row-sm-2">
			<div class="text-right top-buffer">
				<%= link_to "LOGIN", new_user_session_path %>
				|
				<%= link_to "SIGNUP", new_user_registration_path %>
			</div>
		</div>

		<div class="container row-sm-10">
			<div class="main-logo text-center">
				BAZAAR
			</div>
			<div class="sub-logo text-center">
				The College Marketplace
			</div>
		</div>

		<div class="container navigation row-sm-12">
			<div class="nav-logo col-md-1">
				BAZAAR
			</div>

				<div class="menu col-md-7">
					<ul>
						<li><%= link_to "Home", root_path %></li>
						<li><a href="#"> Tickets <span class="caret"></span></a>
							<div class="row">
								<ul>
									<li><%= link_to "Football", "#" %></li>
									<li><%= link_to "Basketball", "#" %></li>
									<li><%= link_to "Soccer", "#" %></li>
									<li><%= link_to "Hockey", "#" %></li>
									<li><%= link_to "Baseball", "#" %></li>
								</ul>
							</div>
						</li>
						<li><a href="#"> Electronics <span class="caret"></span></a>
							<div>
								<ul>
									<li><%= link_to "Computers", "#" %></li>
									<li><%= link_to "Phones", "#" %></li>
								</ul>
							</div>
						</li>						
						<li><a href="#"> Clothing <span class="caret"></span></a>
							<div>
								<ul>
									<li><%= link_to "Shirts", "#" %></li>
									<li><%= link_to "Pants", "#" %></li>
									<li><%= link_to "Hats", "#" %></li>
									<li><%= link_to "Socks", "#" %></li>
								</ul>
							</div>
						</li>
						<li><%= link_to "Furniture", "#" %></li>
					</ul>
				</div>

				<div class="search-bar col-md-4">
					<form method="get" action="/search" id="search">
	 					<input name="q" type="text" size="40" placeholder="Search..." />
					</form>
				</div>
		</div>
	</div>

	<div class="scroll-header">
		<div class="col-md-3 vcenter">
			<%= link_to root_path do %>
				<i class="fa fa-bars fa-2x"></i>
			<% end %>   

			<%= link_to root_path do %>
				<i class="fa fa-shopping-cart fa-2x"></i>
		  <% end %>
		</div>

		<div class="col-md-6 text-center">
			<%= link_to root_path do %>
			  <%= image_tag "bazaar_favicon.png", id: "logo", width: '20', height: '50' %>
			<% end %>
		</div>

		<div class="col-md-3 text-right vcenter">
			<%= link_to "#" do %>
				<i class="fa fa-search fa-lg"></i>
			<% end %>
			<%= link_to "LOGIN", new_user_session_path %>
			|
			<%= link_to "SIGNUP", new_user_registration_path %>
		</div>
	</div>
</div>