<div class="container-fluid row">
	<div class="col-md-3 vcenter">
		<%= link_to "#", :target => "_blank" do %>
			<i class="fa fa-facebook fa-lg"></i>
		<% end %>

		<%= link_to "#", :target => "_blank" do %>
			<i class="fa fa-twitter fa-lg"></i>
		<% end %>
	</div>

	<div class="col-md-6 text-center">
		<%= link_to root_path do %>
		  <%= image_tag "bazaar_favicon.png", id: "logo", width: '20', height: '50' %>
		<% end %>
	</div>

	<div class="col-md-3 text-right vcenter">
		<%= link_to "#" do %>
			<i class="fa fa-search fa-lg"></i>
		<% end %>
		<%= link_to root_path do %>
			LOGIN|SIGNUP
		<% end %>
	</div>
</div>