<div class="container-fluid row">
	<div class="static-header">
		<div class="navigation">
		</div>
	</div>

	<div class="scroll-header">
		<div class="col-md-3 vcenter">
			<%= link_to root_path do %>
				<i class="fa fa-bars fa-2x"></i>
			<% end %>   

			<%= link_to root_path do %>
				<i class="fa fa-shopping-cart fa-2x"></i>
		  <% end %>
		</div>

		<div class="col-md-6 text-center">
			<%= link_to root_path do %>
			  <%= image_tag "bazaar_favicon.png", id: "logo", width: '20', height: '50' %>
			<% end %>
		</div>

		<div class="col-md-3 text-right vcenter">
			<%= link_to "#" do %>
				<i class="fa fa-search fa-lg"></i>
			<% end %>
			<%= link_to "LOGIN", new_user_session_path %>
			|
			<%= link_to "SIGNUP", new_user_registration_path %>
		</div>
	</div>
</div>