<div class="nav-logo col-md-2">
  <%= link_to "BAZAAR", root_path %> 
</div>

<div class="menu col-md-8">
  <ul>
    <li><a href="#"> Tickets </a>
      <ul>
        <li><%= link_to "Football", "#" %></li>
        <li><%= link_to "Basketball", "#" %></li>
        <li><%= link_to "Soccer", "#" %></li>
        <li><%= link_to "Hockey", "#" %></li>
        <li><%= link_to "Baseball", "#" %></li>
      </ul>
    </li>
    <li><a href="#"> Electronics </a>
      <ul>
        <li><%= link_to "Computers", "#" %></li>
        <li><%= link_to "Phones", "#" %></li>
        <li><%= link_to "Cameras", "#" %></li>
      </ul>
    </li>
    <li><a href="#"> Clothing </a>
      <ul>
        <li><%= link_to "Women", "#" %>
          <ul>
            <li><%= link_to "Tops", "#" %></li>
            <li><%= link_to "Pants", "#" %></li>
            <li><%= link_to "Hats", "#" %></li>
            <li><%= link_to "Socks", "#" %></li>
            <li><%= link_to "Accessories", "#" %></li>
          </ul>
        </li>
        <li><%= link_to "Men", "#" %>
          <ul>
            <li><%= link_to "Shirts", "#" %></li>
            <li><%= link_to "Jeans", "#" %></li>
            <li><%= link_to "Hats", "#" %></li>
            <li><%= link_to "Socks", "#" %></li>
            <li><%= link_to "Accessories", "#" %></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a href="#"> Household Items</a>
      <ul>
        <li><%= link_to "Furniture", "#" %>
          <ul>
            <li><%= link_to "Beds", "#" %></li>
            <li><%= link_to "Dressers", "#" %></li>
            <li><%= link_to "Desks", "#" %></li>
            <li><%= link_to "Tables", "#" %></li>
            <li><%= link_to "Chairs", "#" %></li>
            <li><%= link_to "Cabinets", "#" %></li>
          </ul>
        </li>
        <li><%= link_to "Microwave", "#" %></li>
        <li><%= link_to "Washer/Dryers", "#" %></li>
        <li><%= link_to "Kitchen Items", "#" %></li>
      </ul>
    </li>
    <li><%= link_to "Textbooks", "#" %></li>
    <li><a href="#">Housing</a></li>
  </ul>
</div>

<div class="nav-icons col-md-2">
    <%= link_to "#" do %>
      <i class="fa fa-search fa-2x"></i>
    <% end %>

    <% if user_signed_in? %>
      <%= render("welcome/header/signed_in_user") %>
    <% else %>
        <%= render("welcome/header/signed_out_user") %>
    <% end %>

</div>




