<!DOCTYPE html>
<html>
<head>
  <title>Bazaar TCM</title>
  <%= favicon_link_tag 'bazaar_favicon.png' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag '//use.edgefonts.net/megrim.js' %>
  <%= csrf_meta_tags %>
</head>
<body>

	<% if notice %>
	  <p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
	  <p class="alert alert-danger"><%= alert %></p>
	<% end %>


	<div id="wrapper">
		<!-- Main content. --> 
		<div class="main">
			<header class="navbar-top">
				<%= render("welcome/header/header") %>
			</header>

			<%= yield %>

		</div> <!-- /main -->	

		<!-- Footer. -->
		<footer class="navbar-bottom">
			<%= render("welcome/footer/footer") %>
		</footer>
	</div> <!-- /wrapper --> 

</body>
</html>
